<form class="form-container p-fluid" *ngIf="!isRegisterMode" [formGroup]="loginForm" (ngSubmit)="submit()">
  <div class="field">
    <label for="loginEmail">Email</label>
    <input pInputText id="loginEmail" formControlName="email" placeholder="Email">
    <ng-container *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      <small class="validate-error">
        Введите корректный email.
      </small>
    </ng-container>
  </div>

  <div class="field">
    <label for="loginPassword">Пароль</label>
    <p-password id="loginPassword" formControlName="password" placeholder="Пароль" [toggleMask]="true"
                [feedback]="false"/>
    <ng-container *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <small class="validate-error">
        Пароль должен содержать минимум 6 символов.
      </small>
    </ng-container>
  </div>

  <div class="actions">
    <p-button
      type="submit"
      severity="primary"
      [label]="isLoading ? 'Загрузка...' : 'Авторизация'"
      [disabled]="loginForm.invalid || isLoading"
      [loading]="isLoading"
      icon="pi pi-sign-in"
    >
    </p-button>
    <p-button [disabled]="isLoading" type="button" severity="help" label="Зарегистрироваться" icon="pi pi-user-plus"
              (onClick)="toggleMode()"></p-button>
    <p-button type="button" label="Закрыть" severity="secondary" [outlined]="true" (onClick)="closeDialog()" icon="pi pi-times"></p-button>
  </div>
</form>

<form class="form-container" *ngIf="isRegisterMode" [formGroup]="registerForm" (ngSubmit)="submit()">
  <div class="field p-fluid">
    <label for="username">Имя пользователя</label>
    <input pInputText id="username" formControlName="username" placeholder="Имя пользователя">
    <ng-container *ngIf="username?.invalid && username?.touched">
      <small class="validate-error">
        Имя пользователя обязательно.
      </small>
    </ng-container>
  </div>

  <div class="field p-fluid">
    <label for="email">Email</label>
    <input pInputText id="email" formControlName="email" placeholder="Email">
    <ng-container *ngIf="email?.invalid && email?.touched">
      <small class="validate-error">
        Введите корректный email.
      </small>
    </ng-container>
  </div>

  <div class="field p-fluid">
    <label for="password">Пароль</label>
    <p-password id="password" formControlName="password" placeholder="Пароль" [toggleMask]="true" [feedback]="false"/>
    <ng-container *ngIf="password?.touched && password?.invalid">
      <small
        *ngIf="password?.hasError('required')" class="validate-error">
        Обязательное поле.
      </small>
      <small *ngIf="password?.hasError('minlength')" class="validate-error">
        Минимум 6 символов.
      </small>
    </ng-container>
  </div>

  <div class="field p-fluid">
    <label for="confirmPassword">Подтверждение пароля</label>
    <p-password id="confirmPassword" formControlName="confirmPassword" placeholder="Подтверждение пароля"
                [toggleMask]="true" [feedback]="false"/>
    <ng-container *ngIf="confirmPassword?.touched && confirmPassword?.invalid">
      <small class="validate-error" *ngIf="confirmPassword?.hasError('required')">
        Обязательное поле.
      </small>
      <small class="validate-error" *ngIf="confirmPassword?.hasError('minlength')">
        Минимум 6 символов.
      </small>
      <small class="validate-error" *ngIf="confirmPassword?.hasError('passwordsMismatch')">
        Пароли не совпадают.
      </small>
    </ng-container>
  </div>

  <div class="actions">
    <p-button
      type="submit"
      severity="primary"
      [label]="isLoading ? 'Загрузка...' : 'Регистрация'"
      [disabled]="registerForm.invalid || isLoading"
      [loading]="isLoading"
      icon="pi pi-user-plus"
    >
    </p-button>
    <p-button type="button" severity="help" label="Авторизоваться" (onClick)="toggleMode()" icon="pi pi-sign-in"></p-button>
    <p-button type="button" label="Закрыть" severity="secondary" [outlined]="true" (onClick)="closeDialog()" icon="pi pi-times"></p-button>
  </div>
</form>
