<div class="profile-container">
  <!-- Карточка профиля -->
  <div class="section-panel">
    <h2>Профиль</h2>
    <div *ngIf="!isEditMode; else editMode">
      <p><strong>Логин:</strong> {{ userProfile.username }}</p>
      <p><strong>Email:</strong> {{ userProfile.email }}</p>
      <p><strong>Дата создания:</strong> {{ userProfile.createdAt | date: 'dd.MM.yyyy HH:mm:ss' }}</p>
      <p><strong>Дата обновления:</strong> {{ userProfile.updatedAt | date: 'dd.MM.yyyy HH:mm:ss' }}</p>
      <p-button (onClick)="toggleEditMode()" label="Редактировать" icon="pi pi-user-edit"></p-button>
    </div>

    <!-- Режим редактирования -->
    <ng-template #editMode>
      <form class="form-container" [formGroup]="profileForm" (ngSubmit)="saveProfile()">
        <div class="field">
          <label for="username">Логин:</label>
          <input id="username" pInputText type="text" formControlName="username"/>
        </div>

        <div class="field">
          <label for="email">Email:</label>
          <input id="email" pInputText type="text" formControlName="email"/>
        </div>

        <div class="actions">
          <p-button type="submit" [disabled]="profileForm.invalid || isLoading" label="Сохранить" icon="pi pi-save"></p-button>
          <p-button type="button" (click)="cancelEdit()" [disabled]="isLoading" label="Отменить" severity="secondary" icon="pi pi-times"
                    [outlined]="true"></p-button>
        </div>
      </form>
    </ng-template>
  </div>

  <!-- Форма смены пароля -->
  <div class="section-panel">
    <h2>Смена пароля</h2>
    <form class="form-container" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <!-- Текущий пароль -->
      <div class="field">
        <label for="currentPassword"> Текущий пароль: </label>
        <p-password
          id="currentPassword"
          formControlName="currentPassword"
          [feedback]="false"
          [toggleMask]="true"
        ></p-password>
        <ng-container *ngIf="currentPassword?.touched && currentPassword?.invalid">
          <small class="validate-error" *ngIf="currentPassword?.hasError('required')">
            Обязательное поле.
          </small>
          <small class="validate-error" *ngIf="currentPassword?.hasError('minlength')">
            Минимум 6 символов.
          </small>
        </ng-container>
      </div>

      <!-- Новый пароль -->
      <div class="field">
        <label for="newPassword">
          Новый пароль:
        </label>
        <p-password
          id="newPassword"
          formControlName="newPassword"
          [feedback]="false"
          [toggleMask]="true"
        ></p-password>
        <ng-container *ngIf="newPassword?.touched && newPassword?.invalid">
          <small class="validate-error"
                 *ngIf="newPassword?.hasError('required')">
            Обязательное поле.
          </small>
          <small class="validate-error" *ngIf="newPassword?.hasError('minlength')">
            Минимум 6 символов.
          </small>
          <small class="validate-error" *ngIf="newPassword?.hasError('passwordMatchesCurrent')">
            Новый пароль не должен совпадать с текущим.
          </small>
        </ng-container>
      </div>

      <!-- Подтверждение пароля -->
      <div class="field">
        <label for="confirmPassword">
          Подтвердите пароль:
        </label>
        <p-password
          id="confirmPassword"
          formControlName="confirmPassword"
          [feedback]="false"
          [toggleMask]="true"
        ></p-password>
        <ng-container *ngIf="confirmPassword?.touched && confirmPassword?.invalid">
          <small class="validate-error"
            *ngIf="confirmPassword?.hasError('required')">
            Обязательное поле.
          </small>
          <small class="validate-error" *ngIf="confirmPassword?.hasError('minlength')">
            Минимум 6 символов.
          </small>
          <small class="validate-error" *ngIf="confirmPassword?.hasError('passwordsMismatch')">
            Пароли не совпадают.
          </small>
        </ng-container>
      </div>

      <div class="actions">
        <p-button
          type="submit"
          [disabled]="passwordForm.invalid || isLoading"
          label="Изменить пароль"
          icon="pi pi-key"
        ></p-button>
      </div>
    </form>
  </div>

  <app-questions-list [userId]="userProfile.id"></app-questions-list>
</div>
