<div class="questions-container">
  <!-- Выбор категории -->
  <p-dropdown
    [options]="categories"
    [(ngModel)]="selectedCategory"
    placeholder="Выберите категорию"
    (onChange)="onCategoryChange()"
  ></p-dropdown>

  <!-- Поиск -->
  <input
    type="text"
    pInputText
    placeholder="Поиск..."
    [(ngModel)]="searchQuery"
    (input)="onSearch()"
  />

  <!-- OverlayPanel с фильтрами -->
  <!-- Кнопка открытия панели -->
  <div class="flex justify-content-end mb-3 badge-container" >
    <p-button
      icon="pi pi-filter"
      label="Фильтры"
      (onClick)="toggleFiltersPanel($event)"
      [badge]="activeFiltersCount > 0 ? activeFiltersCount.toString() : ''"
      badgeClass="p-badge-sm"
    ></p-button>
  </div>

  <!-- Панель -->
  <p-overlayPanel
    #filtersPanel
    [dismissable]="true"
    [showCloseIcon]="true"
    styleClass="w-full sm:w-25rem">
    <div class="flex flex-column gap-3">
      <!--  Показывать только с ответом -->
      <p-checkbox [(ngModel)]="hideQuestionsWithoutAnswers"
                  label="Скрыть вопросы без ответов" [binary]="true"/>

      <!-- Выбор поля для сортировки -->
      <p-dropdown
        [options]="sortOptions"
        [(ngModel)]="currentSortField"
        optionLabel="label"
        placeholder="Выберите поле"
      ></p-dropdown>

      <!-- Выбор направления сортировки -->
      <p-dropdown
        [options]="sortOrderOptions"
        [(ngModel)]="currentSortOrder"
        optionLabel="label"
        placeholder="Выберите направление"
      ></p-dropdown>

      <!-- Кнопки управления -->
      <div class="flex justify-content-end gap-2">
        <p-button type="button" label="Сбросить" (onClick)="resetFilters()" severity="secondary"
                  [outlined]="true"></p-button>
        <p-button pButton type="button" label="Применить" (onClick)="applyFilters()"></p-button>
      </div>
    </div>
  </p-overlayPanel>


  <!-- Создание вопроса -->
  <p-button type="button" label="Создать вопрос" (onClick)="showCreateQuestionDialog()"></p-button>

  <!-- Состояние загрузки -->
  <div *ngIf="isLoading$ | async" class="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <!-- Список вопросов -->
  <div *ngIf="(questions$ | async)?.length === 0 && !(isLoading$ | async)" class="empty-state">
    Нет доступных вопросов.
  </div>

  <div class="questions-grid">
    <p-card *ngFor="let question of questions$ | async">
      <ng-template pTemplate="header">
        <h3>{{ question.title }}</h3>
      </ng-template>
      <p innerHtml="{{ question.content | slice: 0:100 }}">...</p>
      <small>Категория: {{ question.category }}</small>
      <br>
      <small>Автор: {{ question.author.username }}</small>
      <br>
      <small>Создан: {{ question.createdAt | date : 'dd.MM.yyyy' }}</small>
      <br>
      <small>Изменен: {{ question.updatedAt | date : 'dd.MM.yyyy' }}</small>
      <p-button severity="primary" label="Подробности" size="small" (onClick)="viewDetails(question.id)"></p-button>
      <div>
        <p-tag value="Количество ответов: {{question.answersCount > 0 ? question.answersCount : 0}}"></p-tag>
        <p-tag [value]="question.bestAnswerId ? 'Есть лучший ответ': 'Нет лучшего ответа'"
               [severity]="question.bestAnswerId ? 'success': 'info'"></p-tag>
      </div>

    </p-card>
  </div>

  <!-- Пагинация -->
  <p-paginator
    [rows]="pageSize"
    [totalRecords]="totalQuestions$ | async"
    [first]="(currentPage - 1) * pageSize"
    (onPageChange)="onPageChange($event)"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
    currentPageReportTemplate="Показано {first}-{last} из {totalRecords}"
  ></p-paginator>
</div>
