<ng-template pTemplate="header">
        <span class="ql-formats">
            <p-button class="ql-bold"></p-button>
            <p-button class="ql-italic"></p-button>
            <p-button class="ql-underline"></p-button>
            <p-button class="ql-strike"></p-button>
        </span>
  <span class="ql-formats">
          <select class="ql-color" aria-label="Color"></select>
          <select class="ql-background" aria-label="Background"></select>
        </span>
  <span class="ql-formats">
          <p-button class="ql-script" value="sub"></p-button>
          <p-button class="ql-script" value="super"></p-button>
        </span>
  <span class="ql-formats">
          <p-button class="ql-header" value="1"></p-button>
          <p-button class="ql-header" value="2"></p-button>
          <p-button class="ql-blockquote"></p-button>
          <p-button class="ql-code-block"></p-button>
        </span>
  <span class="ql-formats">
          <p-button class="ql-list" value="ordered"></p-button>
          <p-button class="ql-list" value="bullet"></p-button>
          <p-button class="ql-indent" value="-1"></p-button>
          <p-button class="ql-indent" value="+1"></p-button>
        </span>
  <span class="ql-formats">
          <p-button class="ql-direction" value="rtl"></p-button>
          <select class="ql-align"></select>
        </span>
  <span class="ql-formats">
          <p-button class="ql-link"></p-button>
          <p-button class="ql-formula"></p-button>
        </span>
  <span class="ql-formats">
          <p-button class="ql-clean"></p-button>
        </span>
</ng-template>
