.answer {
  background-color: #497d7f;
  border: 1px solid black;
  border-radius: .625rem;
}
.best-answer {
  background-color: #e8f5e9; /* Зеленый фон */
  padding: 1rem;
  border: 1px solid black;
  border-radius: .625rem;
}

.answers-list {
  margin-top: 2rem;
}
