<div *ngIf="isQuestionLoading">
  <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="question">
  <!-- Вопрос -->
  <div class="question-container">
    <h1>{{ question.title }}</h1>
    <p [innerHTML]="question.content"></p>
    <small>Категория: {{ question.category }}</small>
    <br>
    <small>Автор: {{ question.author.username }}</small>

    <!-- Кнопка редактирования -->
    @if (isAuthenticated && currentUser?.id === question.author.id) {
      <p-button
        label="Редактировать"
        (onClick)="toggleEdit()"
      ></p-button>
      <p-button
        severity="secondary"
        [label]="deleteQuestionLoading ? 'Удаляем...' : 'Удалить'"
        [disabled]="deleteQuestionLoading"
        [loading]="deleteQuestionLoading"
        [outlined]="true"

        (onClick)="deleteQuestion()"></p-button>
    }
    <!-- Форма редактирования -->
    <div *ngIf="isEditing">
      <p-editor [style]="{ height: '320px'}" [(ngModel)]="newQuestionText">
        <app-header-template-for-editor></app-header-template-for-editor>
      </p-editor>
      <p-button
        [disabled]="editQuestionLoading"
        [label]="editQuestionLoading? 'Сохраняем...':'Сохранить'"
        [loading]="editQuestionLoading"
        (onClick)="saveEditedQuestion()"
      ></p-button>
      <p-button
        [disabled]="editQuestionLoading"
        label="Отменить"
        severity="secondary"
        [outlined]="true"
        (onClick)="toggleEdit()"
      ></p-button>
    </div>
  </div>

  @if (question.answers && question.answers.length > 0) {
    <!-- Лучший ответ -->
    <div *ngIf="bestAnswer" class="best-answer">
      <h3>Лучший ответ:</h3>
      <p [innerHTML]="bestAnswer.content"></p>
      <small>Создан: {{ bestAnswer.createdAt | date: 'dd.MM.yyyy' }}</small>
      <br>
      <small>Автор: {{ bestAnswer.author.username }}</small>
      @if (isAuthenticated &&
      currentUser &&
      (bestAnswer.author.id === currentUser.id || question.author.id === currentUser.id)) {
        <p-button
          severity="warning"
          [label]="deleteAnswerLoading? 'Удаляем...' : 'Удалить'"
          [disabled]="deleteAnswerLoading"
          [loading]="deleteAnswerLoading" size="small"
          (onClick)="deleteAnswer(bestAnswer.id)"
        ></p-button>
      }
    </div>

    <!-- Остальные ответы -->
    <div class="answers-list">
      <h3>Ответы:</h3>
      <div class="answer" *ngFor="let answer of answersWithoutBestAnswer">
        <p [innerHTML]="answer.content"></p>
        <small>Создан: {{ answer.createdAt | date: 'dd.MM.yyyy' }}</small>
        <br>
        <small>Автор: {{ answer.author.username }}</small>
        <p-button
          *ngIf="isAuthenticated && currentUser?.id === question.author.id"
          [label]="markAnswersAsBestLoading ? 'Выбираем...':'Выбрать как лучший'"
          [loading]="markAnswersAsBestLoading || deleteAnswerLoading"
          [disabled]="markAnswersAsBestLoading || deleteAnswerLoading"
          (onClick)="markAsBestAnswer(answer.id)"
        ></p-button>
        @if (isAuthenticated && currentUser &&
        currentUser.id === answer.author.id) {
          <p-button
            severity="warning"
            [label]="deleteAnswerLoading ? 'Удаляем...' : 'Удалить'"
            [loading]="deleteAnswerLoading || markAnswersAsBestLoading"
            [disabled]="deleteAnswerLoading || markAnswersAsBestLoading"
            size="small"
            (onClick)="deleteAnswer(answer.id)"
          ></p-button>
        }
      </div>
    </div>
  } @else {
    <p>На данный момент нет ответов</p>
  }

  <!-- Форма добавления ответа -->
  @if (isAuthenticated) {
    <h3>Добавить свой ответ:</h3>
    <p-editor [(ngModel)]="newAnswerText" [style]="{ height: '320px'}">
      <app-header-template-for-editor></app-header-template-for-editor>
    </p-editor>
    <p-button
      [label]="createAnswerLoading ? 'Добавляем...': 'Добавить'"
      [disabled]="createAnswerLoading"
      [loading]="createAnswerLoading"
      (onClick)="submitAnswer()"
    >
    </p-button>
  } @else {
    <h3>Для добавление ответа, нужно авторизоваться</h3>
  }

</div>

<div *ngIf="!question && !isQuestionLoading">
  <p>Вопрос не найден или был удален</p>
</div>
